.list {
    background-color: #EBECF0;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
    width: 280px;
    min-height: 200px;}

.card {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: black;
}

.title {
    margin: 0;
}

.button {
    border: none;
    background-color: transparent;
    color: rgba(94, 108, 132, 1);
    cursor: pointer;
    line-height: 21px;
}

.button:hover {
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 77, 211, 0.103);
    color: rgb(0, 86, 235);  
    cursor: pointer;
	transition: 0.35s ;
}



@media screen and (max-width: 1226px) {
    .list {
        margin: 25px;
}
}

